
@font-face{
    font-family: titleFont;
    src:url("../fonts/Ubuntu-Bold.ttf")
}

@font-face {
    font-family: sideFont;
    src: url("../fonts/Ubuntu-Medium.ttf");
}

@font-face{
    font-family: bodyFont;
    src:url("../fonts/Ubuntu-Regular.ttf")
}

.wrapper{
   position: absolute;
   top: 25%;
   bottom: 25%;
   margin-left: 30rem;
}

#section-aside{
    margin-right: 20rem;
}
#section-forms{
    margin-left: 20rem;
}

#aside {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    background-image: url("../images/bg-sidebar-desktop.svg");
    padding-bottom: 5rem;
    padding-top: 2.5rem;
    padding: 4rem;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #fff;
    border: 1px;
    border-radius: 5%;
    font-family: bodyFont;
    font-
}

#step-button{
width:20px;
height:20px;
border-radius: 50%;
border: solid 1px #ccc;
}

form {
padding-top: 1%;
}

.personalinfo{
    font-family: titlefont;
}

#nextButton{
    margin-top: 12%;
    margin-left: 15%;

}

#backButton{
    margin-top: 12%;
    margin-right: 15%;
    
}

#checkbox-div{
    display: inline-block;
    border: 1px solid #ccc;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
}

#input-checkbox{
    display: inline-block;
}

#light-text{
    display:inline-block;
    
}

input[type="checkbox"]{
    display: inline-block;
}

#sum{
    display: inline-block;
    background-color: #D3D3D3; 
    padding: 2rem;
}

#month-payment{
    margin-left: 40px;
}