
@font-face{
    font-family: titleFont;
    src:url("../fonts/Ubuntu-Bold.ttf")
}

@font-face {
    font-family: sideFont;
    src: url("../fonts/Ubuntu-Medium.ttf");
}

@font-face{
    font-family: bodyFont;
    src:url("../fonts/Ubuntu-Regular.ttf")
}


#wrapper{
    width: 600px;
    padding-bottom: 20rem;
    padding-left: 5rem;
    padding-right: 10rem;
    text-align: center;
     overflow: hidden; 
}

#wrapper #slides-form{
width: 400%;
}

#slides-form {
    display: flex;
    padding-left: 15rem; 
    
}

#slides-form #form-one{
width: 50%;
}
#slides-form #form-two{
    width: 100%;
    transition: margin-left 0.5s ease-in;
}

#slides-form #form-three{
    width: 100%;
    transition: margin-left 0.5s ease-in;
}

#slides-form #form-four{
    width: 100%;
    transition: margin-left 0.5s ease-in;
}

#slides-form #form-five{
    width: 100%;
    transition: margin-left 0.5s ease-in;
}

#aside {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    background-image: url("../images/bg-sidebar-desktop.svg");
    padding: 8rem 5rem 8rem 4rem;
    margin-right: 10rem;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #fff;
    border: 1px;
    border-radius: 5%;
    font-family: bodyFont;
}


#step-btn-one{
width:20px;
height:20px;
border-radius: 50%;
border: solid 1px #ccc;
}


#step-btn-two{
    width:20px;
    height:20px;
    border-radius: 50%;
    border: solid 1px #ccc;
    }

    
#step-btn-three{
    width:20px;
    height:20px;
    border-radius: 50%;
    border: solid 1px #ccc;
    }

    
#step-btn-four{
    width:20px;
    height:20px;
    border-radius: 50%;
    border: solid 1px #ccc;
    }


#steps{
    font-family: bodyFont; 
}

#step-text{
    font-family: sideFont;
}


#personal-info-p{
    font-family: titlefont;
}


#checkbox-div{
    display: inline-block;
    border: 1px solid #ccc;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
}

#input-checkbox{
    display: inline-block;
}

#light-text{
    display:inline-block;
    
}

input[type="checkbox"]{
    display: inline-block;
}

#sum{
    display: inline-block;
    background-color: #D3D3D3; 
    padding: 2rem;
}

#month-payment{
    margin-left: 40px;
}


#next-step-btn{
    margin-top: 12%;
    margin-left: 5%;

}

#back-btn{
    margin-top: 12%;
    margin-right: 5%;
    
}

#confirm-button{
    margin-top: 12%;
    margin-right: 10%;
}